Source: python-slimbook
Section: python
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper (>=10), python3, dh-python, python3-minimal, python3-setuptools, libslimbook1
Standards-Version: 3.9.7
Homepage: https://github.com/Slimbook-Team/python-slimbook

Package: python3-slimbook
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, libslimbook1 (>= ${binary:Version}), python3
Description: libslimbook python binding
 This python module wraps libslimbook functionality with ctypes and addds some extra features
