Source: python-slimbook
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper (>=9), python3, dh-python, python3-minimal, python3-setuptools
Standards-Version: 3.9.7
Homepage: https://github.com/Slimbook-Team/python-slimbook

Package: python3-slimbook
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
 This python module wraps libslimbook functionality with ctypes and addds some extra features
